<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #funcionarioForm="ngForm" (ngSubmit)="addFuncionario(funcionarioForm)">
              <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="funcionarioService.selectedFuncionario.name" placeholder="Nome do Funcionario">
                  </div>
                  <div class="input-field col s12">
                    <input type="text" name="position" #position="ngModel" [(ngModel)]="funcionarioService.selectedFuncionario.position" placeholder="Cargo do Funcionario">
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">

    </div>
  </div>
</div>
