<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #funcionarioForm="ngForm" (ngSubmit)="addFuncionario(funcionarioForm)">
              <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="funcionarioService.selectedFuncionario.name" placeholder="Nome do Funcionario">
                  </div>
                  <div class="input-field col s12">
                    <input type="text" name="position" #position="ngModel" [(ngModel)]="funcionarioService.selectedFuncionario.position" placeholder="Cargo do Funcionario">
                  </div>
                  <div class="input-field col s12">
                    <input type="text" name="office" #office="ngModel" [(ngModel)]="funcionarioService.selectedFuncionario.office" placeholder="Local de Trabalho">
                  </div>
                  <div class="input-field col s12">
                    <input type="text" name="salary" #salary="ngModel" [(ngModel)]="funcionarioService.selectedFuncionario.salary" placeholder="Salario do Funcionario">
                  </div>
                  <div class="card-action">
                    <div class="input-field col s12">
                        <button class="btn right">Salvar</button>
                        <button class="btn left" (click)="resetForm(funcionarioForm)">Limpar</button>
                    </div>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
        <table>
          <thead>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Escritorio</th>
            <th>Operações</th>
          </thead>
          <tbody>
            <tr *ngFor="let funcionario of funcionarioService.funcionarios">
              <td>{{ funcionario.name }}</td>
              <td>{{ funcionario.position }}</td>
              <td>{{ funcionario.office }}</td>
              <td>#</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
